@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--navbar-height: 90px;
	--active: #5c5ced;
}

body,
#root {
	min-height: 100vh;
	min-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	@apply bg-gray-300 rounded-lg hover:bg-gray-500;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.input-container:focus-within {
	border: 2px solid var(--active);
}

.input-container:focus-within svg {
	fill: var(--active);
}
